
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    background-color: #1e1e1e;
}

.nav-wrapper {
    margin: 0 50;
    width: 1500px;
}

.header-div {
    margin: 15px;
    align-self: center;
}

.header-div p {
    color: lightblue;
    font-family: 'Turret Road', cursive;
    font-size: 30px;
    text-align: center;
}

p {
    margin: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

nav {
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}

ul {
    margin: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0 20px;
}
